<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>./src/Build/BuildExample.php</file>
            <file>./src/Menu/BemMenuWalker.php</file>
            <file>./src/ConfigProject/ConfigProjectExample.php</file>
        </exclude>
        <report>
            <text outputFile="./coverage/text-coverage.txt"/>
            <html outputDirectory="./coverage/report"/>
            <cobertura outputFile="./coverage/cobertura-coverage.xml"/>
        </report>

    </coverage>
    <logging>
        <junit outputFile="./phpunit-report.xml"/>
    </logging>
</phpunit>
